.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    color: #000;
}

.navbar-custom .navbar-brand {
    margin-bottom: 15px;
}

.intro-header {
    margin-top: 30px;
    margin-bottom: 0;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-brand,
    .navbar-custom .nav li a {
        color: #000;
        margin-bottom: 0;
    }

    .intro-header {
        margin-top: 0;
    }

    .intro-header .post-heading h1 {
        font-size: 1.8em;
    }

    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 100px 0 0;
    }

    .navbar-custom {
        background-color: #3084C5;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav li a {
        color: #fff;
    }
}

@media only screen and (min-width: 990px) {
    pre.chroma:hover {
        margin-right: -100px;
    }
}

@media only screen and (min-width: 1200px) {
    pre.chroma:hover {
        margin-right: -150px;
    }
}

.pager li {
    max-width: 48%;
    display: inline-block;
}

.pager .previous {
    float: right;
}

.pager .next {
    float: left;
}

div.highlight {
    background-color: #f5f5f5;
}

pre.chroma {
    background-color: #f8f8f8;
    padding: 12px;
    overflow-x: scroll;
}

pre code {
    font-size: 1.2em;
    white-space: pre;
}

.intro-header .post-heading .meta a {
    color: #000;
}

hr.small {
    border-color: #000;
}

article div.post li a {
    text-decoration: underline;
}

.anchor-link {
    padding-left: .25em;
    opacity: 0;
    transition: all .25s linear;
}

.anchor-link i {
    font-size: .8em;
}

.anchor-link i:before {
    vertical-align: middle;
}

.anchor-link-container:hover .anchor-link {
    visibility: visible;
    opacity: 1;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-icons li {
    margin: auto 10px;
}

.footer-icons a {
    text-decoration: none;
}

.footer-icons i {
    font-size: 2em;
}

.last-built {
    font-size: .7em;
    text-align: right;
    margin-bottom: 0;
}

.theme-toggle {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.is-fixed .theme-toggle {
    background-color: transparent;
    border-color: transparent;
}

.theme-toggle .theme-light {
    display: block;
}

.theme-toggle .theme-dark {
    display: none;
}

/*
 * Markdown notices
 * License: https://github.com/getgrav/grav-plugin-markdown-notices
 */

.notices {
    padding: 1px 1px 1px 30px;
    margin: 15px 0;
}

.notices p {

}

.notices.yellow {
    border-left: 10px solid #f0ad4e;
    background: #fcf8f2;
    color: #df8a13;
}

.notices.red {
    border-left: 10px solid #d9534f;
    background: #fdf7f7;
    color: #b52b27;
}

.notices.blue {
    border-left: 10px solid #5bc0de;
    background: #f4f8fa;
    color: #28a1c5;
}

.notices.green {
    border-left: 10px solid #5cb85c;
    background: #f1f9f1;
    color: #3d8b3d;
}

/*
 * Chroma syntax
 */
.chroma .err {
}

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block
}

.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffc
}

.chroma .lnt {
    margin-right: .4em;
    padding: 0 .4em 0 .4em
}

.chroma .ln {
    margin-right: .4em;
    padding: 0 .4em 0 .4em
}

.chroma .k {
    color: green;
    font-weight: 700
}

.chroma .kc {
    color: green;
    font-weight: 700
}

.chroma .kd {
    color: green;
    font-weight: 700
}

.chroma .kn {
    color: green;
    font-weight: 700
}

.chroma .kp {
    color: green
}

.chroma .kr {
    color: green;
    font-weight: 700
}

.chroma .kt {
    color: #b00040
}

.chroma .na {
    color: #7d9029
}

.chroma .nb {
    color: green
}

.chroma .nc {
    color: #00f;
    font-weight: 700
}

.chroma .no {
    color: #800
}

.chroma .nd {
    color: #a2f
}

.chroma .ni {
    color: #999;
    font-weight: 700
}

.chroma .ne {
    color: #d2413a;
    font-weight: 700
}

.chroma .nf {
    color: #00f
}

.chroma .nl {
    color: #a0a000
}

.chroma .nn {
    color: #00f;
    font-weight: 700
}

.chroma .nt {
    color: green;
    font-weight: 700
}

.chroma .nv {
    color: #19177c
}

.chroma .s {
    color: #ba2121
}

.chroma .sa {
    color: #ba2121
}

.chroma .sb {
    color: #ba2121
}

.chroma .sc {
    color: #ba2121
}

.chroma .dl {
    color: #ba2121
}

.chroma .sd {
    color: #ba2121;
    font-style: italic
}

.chroma .s2 {
    color: #ba2121
}

.chroma .se {
    color: #b62;
    font-weight: 700
}

.chroma .sh {
    color: #ba2121
}

.chroma .si {
    color: #b68;
    font-weight: 700
}

.chroma .sx {
    color: green
}

.chroma .sr {
    color: #b68
}

.chroma .s1 {
    color: #ba2121
}

.chroma .ss {
    color: #19177c
}

.chroma .m {
    color: #666
}

.chroma .mb {
    color: #666
}

.chroma .mf {
    color: #666
}

.chroma .mh {
    color: #666
}

.chroma .mi {
    color: #666
}

.chroma .il {
    color: #666
}

.chroma .mo {
    color: #666
}

.chroma .o {
    color: #666
}

.chroma .ow {
    color: #a2f;
    font-weight: 700
}

.chroma .c {
    color: #408080;
    font-style: italic
}

.chroma .ch {
    color: #408080;
    font-style: italic
}

.chroma .cm {
    color: #408080;
    font-style: italic
}

.chroma .c1 {
    color: #408080;
    font-style: italic
}

.chroma .cs {
    color: #408080;
    font-style: italic
}

.chroma .cp {
    color: #bc7a00
}

.chroma .cpf {
    color: #bc7a00
}

.chroma .gd {
    color: #a00000
}

.chroma .ge {
    font-style: italic
}

.chroma .gr {
    color: red
}

.chroma .gh {
    color: navy;
    font-weight: 700
}

.chroma .gi {
    color: #00a000
}

.chroma .go {
    color: #888
}

.chroma .gp {
    color: navy;
    font-weight: 700
}

.chroma .gs {
    font-weight: 700
}

.chroma .gu {
    color: purple;
    font-weight: 700
}

.chroma .gt {
    color: #04d
}

.chroma .w {
    color: #bbb
}
