{{ define "main" -}}

{{ with .Resources.ByType "image" }}{{ end }}

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Description }}</h2>
                    <span class="meta">{{ partial "meta.html" .}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="post col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ .Content }}

                {{ if .Site.DisqusShortname -}}
                    {{ template "_internal/disqus.html" . }}
                {{- end }}
            </div>
        </div>
    </div>
</article>
{{- end }}
